# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# HuggingFace
cache/
hf_cache/

# Models
artifacts/
checkpoints/

# Generated datasets
app/ml/dataset/synthetic/
app/ml/dataset/generated/

# Chroma
chroma_db/

# Logs
logs/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db