fastapi==0.115.6
uvicorn[standard]==0.34.0

pydantic==2.10.6
pydantic-settings==2.7.1
reportlab==4.2.5

sqlalchemy==2.0.37
alembic==1.14.1

python-dotenv==1.0.1
httpx==0.28.1
loguru==0.7.3
orjson==3.10.15
python-multipart==0.0.20

scikit-learn==1.6.1
joblib==1.4.2
numpy==1.26.4
pandas==2.2.3

torch==2.5.1
transformers==4.48.2
sentence-transformers==3.4.1

langdetect==1.0.9
redis==5.2.1
prometheus-client==0.21.1
rich==13.9.4
